@tailwind base;
@tailwind components;
@tailwind utilities;
/* For WebKit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px; /* Add border-radius property */
}

::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  border-radius: 10px; /* Add border-radius property */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bcdba5;
  border-radius: 10px; /* Add border-radius property */
}

/* For Firefox */
/* Note: Firefox does not support styling the scrollbar directly,
   so this style will only be applied if the browser is using the
   WebKit engine (e.g., when viewed in Electron or WebView). */
* {
  scrollbar-width: thin;
  scrollbar-color: #00285a #f1f1f1;
}

*:hover {
  scrollbar-color: #00285a #f1f1f1;
}
